<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPMega software</title>
</head>
<body>
<section id="topbar" class="d-flex align-items-center">
    <div class="container1 d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center" style="margin-left: 120px;"><a href="admin@ipmega.in">admin@ipmega.in</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 99767 86607</span></i>
      </div>

      <div class="cta d-none d-md-flex align-items-center">
        <a href="#about" class="scrollto " style="margin-left: 700px;">Get Started</a>
      </div>
    </div>
  </section>

  <header id="header" class="d-flex align-items-center">
    <div class="container2 d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="#">IPMega</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          <li><a class="nav-link " routerLink="/coursedetails">CourseDetails</a></li>
          <li><a class="nav-link "  routerLink="/attendance">Attendance</a></li>
          <li><a class="nav-link " routerLink="/faq">FAQ</a></li>
          <li><a class="nav-link " routerLink="/client">Client</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

</body>
</html>

<router-outlet></router-outlet>

  
    
